.movie_list {
  background: #303030;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  width: 70%;
  text-align: center;
}
.movie_image {
  width: 120px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.delete {
  margin-top: 5px;
  background: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
