#adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}
#adventure .head {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#adventure h2 {
  width: 40%;
}
#adventure .head p {
  width: 25%;
}
#adventure .ico{
  color: #FF7526;
}