.botao-laranja {
  background-color: #FF7526; /* Laranja */
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.botao-laranja:hover {
  background-color: #E45400; /* Laranja mais escuro */
}
