* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header a {
  color: white;
  text-decoration: none;
}
.showNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.show {
  padding: 5px;
}
.pressed {
  background-color: #333;
  border-radius: 50%;
}

@media (max-width: 600px) {
  header nav {
    display: none;
  }
  header {
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 601px) {
  .show {
    display: none;
  }
  header hr {
    display: none;
  }
}
