header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1000;
  color: white;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7));
}
header h1 {
  user-select: none;
}
.logo {
  color: white;
  font-size: 2rem;
}
.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu a {
  transition: transform 0.3s ease-in-out;
}
.menu a:hover {
  transform: scale(1.3);
}
