:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imagem > img {
  width: 100%;
}
iframe {
  width: 50vw;
  height: 50vh;
}
